<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <title>Panel administratora - Serwis ogłoszeniowy</title>
    <link rel="stylesheet" href="../../static/style/main.css" th:href="@{../style/main.css}">
</head>
<body>
<header>
    <h1><a th:href="@{/}">Serwis ogłoszeniowy</a></h1>
    <h3>Panel administratora</h3>
    <p sec:authorize="isAuthenticated()" th:text="|Witaj, ${#authentication.getName()}!|"></p>
    <p sec:authorize="isAuthenticated()" th:text="|Twoja rola: ${#authentication.getAuthorities()}|"></p>
    <!--            <form method="post" th:action="@{/logout}">-->
    <!--                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" hidden>-->
    <a sec:authorize="isAuthenticated()" th:text="|Wyloguj się|" th:href="@{/logout}" href="#"></a>
    <!--            </form>-->
</header>
<nav class="navigation">
    <a class="category" th:href="@{/admin/bans}" href="#">Blokady kont</a>
    <a class="category" th:href="@{/admin/admins}" href="#">Administratorzy</a>
    <a class="category" th:href="@{/admin/categories}" href="#">Kategorie</a>
</nav>
<a th:href="@{../}">Powróć do strony głównej</a>
<main>
    <form action="/admin/add-admin" method="post">
        <label for="name">
            <input type="text" id="name" name="name" placeholder="Nazwa użytkownika" required>
        </label>
        <br />
        <button type="submit">Dodaj administratora</button>
    </form>
    <p>Tylko główny administrator może usuwać i dodawać administratorów!</p>
    <p th:if="${error} != null" th:text="${error}" class="error"></p>
<!--    <p th:if="${success}" th:text="${success}" class="success"></p>-->
    <table class="table" th:unless="${admins == null || admins.isEmpty()}">
        <tr>
            <th>Identyfikator</th>
            <th>Nazwa użytkownika</th>
            <th>Usuń</th>
        </tr>
        <tr th:each="admin: ${admins}">
            <td th:text="${admin.id}"></td>
            <td th:text="${admin.username}"></td>
            <td><a th:href="|/admin/remove-admin?id=${admin.id}|" th:text="Usuń"></a></td>
        </tr>
    </table>
    </main>

    <footer>
        &copy; Mikołaj Diakowski
    </footer>
    </body>
</html>
