<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="../static/style/main.css" th:href="@{style/main.css}">
</head>
<body>
<header>
    <h1>Serwis ogłoszeniowy</h1>
    <h1><a th:href="@{/}">Serwis ogłoszeniowy</a></h1>
    <a sec:authorize="!isAuthenticated()" th:href="@{/login}" href="#">Zaloguj się</a>
    <a sec:authorize="!isAuthenticated()" th:href="@{/register}" href="#">Nie masz konta? Utwórz je teraz!</a>
    <p sec:authorize="isAuthenticated()" th:text="|Witaj, ${#authentication.getName()}!|"></p>
    <!--            <form method="post" th:action="@{/logout}">-->
    <!--                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" hidden>-->
    <a sec:authorize="isAuthenticated()" th:text="|Wyloguj się|" th:href="@{/logout}" href="#"></a>
    <!--            </form>-->
</header>
<nav class="navigation" th:remove="all-but-first">
    <a class="category" th:each="category: ${categories}" th:unless="${categories.isEmpty()}" th:text="${category.name}" th:href="|category?name=${category.id}|" href="#">Praca</a>
    <a href="#" class="category">Zwierzęta</a>
    <a href="#" class="category">Ogólne</a>
    <a href="#" class="category">Sprzedam</a>
    <a href="#" class="category">Kupię</a>
</nav>
<hr>
<h1>404 Error!</h1>
<h3>Nie znaleziono takiej strony.</h3>
<a th:href="@{/}" href="/">Powróć na stronę główną.</a>
</body>
</html>