<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta charset="UTF-8">
  <title th:text="|${announcement.title} - Serwis ogłoszeniowy|">Sprzedam Opla - Serwis ogłoszeniowy</title>
  <link rel="stylesheet" href="../static/style/main.css" th:href="@{style/main.css}">
</head>
<body>
<header>
  <h1><a th:href="@{/}">Serwis ogłoszeniowy</a></h1>
  <h3>Strona główna</h3>
  <a sec:authorize="!isAuthenticated()" th:href="@{/login}" href="#">Zaloguj się</a>
  <a sec:authorize="!isAuthenticated()" th:href="@{/register}" href="#">Nie masz konta? Utwórz je teraz!</a>
  <p sec:authorize="isAuthenticated()" th:text="|Witaj, ${#authentication.getName()}!|"></p>
  <a sec:authorize="isAuthenticated()" th:text="|Panel użytkownika|" th:href="@{/client}" href="#"></a>
  <a sec:authorize="isAuthenticated()" th:text="|Wyloguj się|" th:href="@{/logout}" href="#"></a>
</header>
<nav class="navigation" th:remove="all-but-first">
  <a class="category" th:each="category: ${categories}" th:text="${category.name}" th:href="|category?id=${category.id}|" href="#">Praca</a>
  <a href="#" class="category">Zwierzęta</a>
  <a href="#" class="category">Ogólne</a>
  <a href="#" class="category">Sprzedam</a>
  <a href="#" class="category">Kupię</a>
</nav>
<hr>
<main>
  <h3 th:text="${error}"></h3>
  <article>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="|/admin/delete-announcement?id=${announcement.id}|" href="#">Usuń ogłoszenie</a>
    <a href="#" th:href="|category?id=${announcement.category.id}|" th:text="${announcement.category.name}">Motoryzacja</a>
    <p th:text="|Dodano ${#temporals.format(announcement.publicationTime, 'dd MMMM yyyy HH:mm')}|">Dodano 25 października 2023 r. o godzinie 18:24</p>
    <img th:each="picture: ${announcement.pictures}" th:src="@{picture.path}" src="" alt=""/>
    <h4 th:text="${announcement.title}">Sprzedam Opla</h4>
    <p th:utext="${announcement.content}">
      Sprzedam działającego Opla z rocznika 2024 r., w okazyjnej cenie 4000 zł.
      Zainteresowanych zapraszam do kontaktu ze mną!
    </p>
    <section class="contact-info">
      <h5>Dane kontaktowe</h5>
      <a th:href="|mailto:${announcement.contactMethod.email}|" th:text="${announcement.contactMethod.email}" href="#">abc@abc.pl</a>
      <a th:href="|tel:${announcement.contactMethod.phoneNumber}|" href="#">+48 123 456 789</a>
    </section>
  </article>
</main>
</body>
</html>