<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <title>Panel użytkownika - Serwis ogłoszeniowy</title>
    <link rel="stylesheet" href="../static/style/main.css" th:href="@{../style/main.css}">
  </head>
  <body>
  <header>
    <h1><a th:href="@{/}">Serwis ogłoszeniowy</a></h1>
    <h3>Panel użytkownika</h3>
    <p sec:authorize="isAuthenticated()" th:text="|Witaj, ${#authentication.getName()}!|"></p>
    <p sec:authorize="isAuthenticated()" th:text="|Twoja rola: ${#authentication.getAuthorities()}|"></p>
    <a sec:authorize="isAuthenticated()" th:href="@{/add-announcement}" href="#">Dodaj ogłoszenie</a>
    <!--            <form method="post" th:action="@{/logout}">-->
    <!--                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" hidden>-->
    <a sec:authentication="isAuthenticated()" th:text="|Panel użytkownika|" th:href="@{/client}" href="#"></a>
    <a sec:authorize="isAuthenticated()" th:text="|Wyloguj się|" th:href="@{/logout}" href="#"></a>
    <!--            </form>-->
  </header>
  <nav class="navigation">
    <a class="category" th:href="@{/client/announcements}" href="#">Moje ogłoszenia</a>
    <a class="category" th:href="@{/change-password}" href="#">Zmień hasło</a>
    <a class="category" th:href="@{/contact-method}" href="#">Metoda kontaktu</a>
  </nav>

</body>
</html>