<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta charset="UTF-8">
        <title>Strona główna</title>
        <link rel="stylesheet" href="../static/style/main.css" th:href="@{style/main.css}">
    </head>
    <body>
        <header>
            <h1><a th:href="@{/}">Serwis ogłoszeniowy</a></h1>
            <h3>Strona główna</h3>
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}" href="#">Zaloguj się</a>
            <a sec:authorize="!isAuthenticated()" th:href="@{/register}" href="#">Nie masz konta? Utwórz je teraz!</a>
            <p sec:authorize="isAuthenticated()" th:text="|Witaj, ${#authentication.getName()}!|"></p>
            <p sec:authorize="isAuthenticated()" th:text="|Twoja rola: ${#authentication.getAuthorities()}|"></p>
            <a sec:authorize="isAuthenticated()" th:href="@{/add-announcement}" href="#">Dodaj ogłoszenie</a>
            <a sec:authentication="isAuthenticated()" th:text="|Panel użytkownika|" th:href="@{/client}" href="#"></a>
            <a sec:authorize="isAuthenticated()" th:text="|Wyloguj się|" th:href="@{/logout}" href="#"></a>
<!--            </form>-->
        </header>
        <nav class="navigation" th:remove="all-but-first">
            <a class="category" th:each="category: ${categories}" th:unless="${categories.isEmpty()}" th:text="${category.name}" th:href="|category?name=${category.id}|" href="#">Praca</a>
            <a href="#" class="category">Zwierzęta</a>
            <a href="#" class="category">Ogólne</a>
            <a href="#" class="category">Sprzedam</a>
            <a href="#" class="category">Kupię</a>
        </nav>
        <hr>
        <main th:remove="all-but-first">
            <h3 th:if="${announcements.isEmpty()}">Nie dodano jeszcze żadnych ogłoszeń!</h3>
            <article th:each="announcement: ${announcements}">
                <a href="#" th:href="|category=${announcement.category.id}|" th:text="${announcement.category.name}">Motoryzacja</a>
                <p th:text="|Dodano ${announcement.publicationTime}|">Dodano 25 października 2023 r. o godzinie 18:24</p>
                <img th:each="${announcement.pictures}" th:object="${picture}" th:src="@{picture.path}" src="" alt=""/>
                <h4 th:text="${announcement.title}">Sprzedam Opla</h4>
                <p th:text="${announcement.content}">
                    Sprzedam działającego Opla z rocznika 2024 r., w okazyjnej cenie 4000 zł.
                    Zainteresowanych zapraszam do kontaktu ze mną!
                </p>
                <section class="contact-info">
                    <h5>Dane kontaktowe</h5>
                    <a th:href="|mailto:${announcement.contactMethod.email}|" th:text="${announcement.contactMethod.email}" href="#">abc@abc.pl</a>
                    <a th:href="|tel:${announcement.contactMethod.phoneNumber}|" href="#">+48 123 456 789</a>
                    <p th:text="${announcement.contactMethod.addressDto.street + ' ' + contactMethod.addressDto.streetNumber + '\n' + contactMethod.addressDto.postcode + ' ' + contactMethod.addressDto.city + '\n' + contactMethod.addressDto.country}">Jan Kowalski <br />ul. Przykładowa 1/1<br />00-001 Warszawa<br/> Polska</p>
                </section>
            </article>
            <article th:each="announcement: ${announcements}">
                <a href="#" th:href="${announcement.category.id}" th:text="${announcement.category.name}">Dam pracę</a>
                <p th:text="|Dodano ${announcement.publicationTime}|">Dodano 22 października 2023 r. o godzinie 10:30</p>
                <img th:each="${announcement.pictures}" th:object="${picture}" th:src="@{picture.path}" src="" alt=""/>
                <h4 th:text="${announcement.title}">Praca na magazynie</h4>
                <p th:text="${announcement.content}">
                </p>
                <section class="contact-info">
                    <h5>Dane kontaktowe</h5>
                    <a th:href="|mailto:${announcement.contactMethod.email}|" th:text="${announcement.contactMethod.email}" href="#">def@def.pl</a>
                    <a th:href="|tel:${announcement.contactMethod.phoneNumber}|" href="#">+48 987 654 321</a>
                    <p th:text="${announcement.contactMethod.addressDto.street + ' ' + contactMethod.addressDto.streetNumber + '\n' + contactMethod.addressDto.postcode + ' ' + contactMethod.addressDto.city + '\n' + contactMethod.addressDto.country}">Jan Kowalski <br />ul. Przykładowa 1/1<br />00-001 Warszawa<br/> Polska</p>
                </section>
            </article>
        </main>
        <footer>
            &copy; Mikołaj Diakowski
        </footer>
    </body>
</html>